## ML ZOOMCAMP HOMEWORK 3

In [2]:
# import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
# load dataset
url= "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"

In [20]:
cardata=pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [21]:
cardata

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [22]:
# Show the columns in the dataframe
cardata.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

### Features
These selected columns will be used; 
Make, Model, Year, Engine HP, Engine Cylinders, Transmission Type, Vehicle Style, highway MPG, city mpg

### Data preparation
Select only the features from above and transform their names using next line: data.columns = data.columns.str.replace(' ', '_').str.lower()

In [23]:
selectedcolumns = ["Make", "Model", "Year", "Engine HP",
       "Engine Cylinders", "Transmission Type", "Vehicle Style",
       "highway MPG", "city mpg","MSRP"]

In [25]:
cardata1=cardata[selectedcolumns]
cardata1

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

In [26]:
cardata1.columns=cardata1.columns.str.replace(' ', '_').str.lower()
cardata1

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,46120
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,56670
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50620
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,50920
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,28995

### Fill in the missing values of the selected features with 0

In [28]:
cardata1.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [30]:
cardata1=cardata1.fillna(0)

In [32]:
cardata1.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

### Rename MSRP variable to price.

In [34]:
cardata1.rename(columns = {"msrp":"price"}, inplace = True)
cardata1.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price'],
      dtype='object')

### Question 1
What is the most frequent observation (mode) for the column transmission_type?

In [35]:
cardata1.transmission_type.value_counts()

AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64

In [36]:
cardata1.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

### Question 2
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

In [37]:
from sklearn.metrics import mutual_info_score

In [39]:
cardata1.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [40]:
numericalcolumns=["year","engine_hp","engine_cylinders","highway_mpg","city_mpg"]

In [42]:
cardata1[numericalcolumns].corr()

                      year  engine_hp  engine_cylinders  highway_mpg  city_mpg
year              1.000000   0.338714         -0.040708     0.258240  0.198171
engine_hp         0.338714   1.000000          0.774851    -0.415707 -0.424918
engine_cylinders -0.040708   0.774851          1.000000    -0.614541 -0.587306
highway_mpg       0.258240  -0.415707         -0.614541     1.000000  0.886829
city_mpg          0.198171  -0.424918         -0.587306     0.886829  1.000000

### Make price binary
Now we need to turn the price variable from numeric into a binary format. 

Let's create a variable above_average which is 1 if the price is above its mean value and 0 otherwise.

In [43]:
meanprice = cardata1["price"].mean()
meanprice

40594.737032063116

In [45]:
cardata1["above_average"] = cardata1["price"].apply(lambda x: 1 if x > meanprice else 0)

In [46]:
cardata1[["price","above_average"]]

       price  above_average
0      46135              1
1      40650              1
2      36350              0
3      29450              0
4      34500              0
...      ...            ...
11909  46120              1
11910  56670              1
11911  50620              1
11912  50920              1
11913  28995              0

[11914 rows x 2 columns]

### Split the data
Split your data in train/val/test sets with 60%/20%/20% distribution. 

Use Scikit-Learn for that (the train_test_split function) and set the seed to 42. 

Make sure that the target value (price) is not in your dataframe.

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
cardata1_full_train, cardata1_test = train_test_split(cardata1, test_size=0.2, random_state=42)
cardata1_train, cardata1_val = train_test_split(cardata1_full_train, test_size=0.25, random_state=42)

In [49]:
len(cardata1_train), len(cardata1_val), len(cardata1_test)

(7148, 2383, 2383)

In [50]:
cardata1_train = cardata1_train.reset_index(drop=True)
cardata1_val = cardata1_val.reset_index(drop=True)
cardata1_test = cardata1_test.reset_index(drop=True)

In [51]:
y_train = cardata1_train.above_average.values
y_val = cardata1_val.above_average.values
y_test = cardata1_test.above_average.values

In [52]:
del cardata1_train["price"]
del cardata1_val["price"]
del cardata1_test["price"]

In [54]:
cardata1_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
0,Mitsubishi,Endeavor,2011,225.0,6.0,AUTOMATIC,4dr SUV,19,15,0
1,Kia,Borrego,2009,276.0,6.0,AUTOMATIC,4dr SUV,21,17,0
2,Lamborghini,Gallardo,2012,570.0,10.0,MANUAL,Convertible,20,12,1
3,Chevrolet,Colorado,2016,200.0,4.0,AUTOMATIC,Crew Cab Pickup,27,20,0
4,Pontiac,Vibe,2009,158.0,4.0,AUTOMATIC,4dr Hatchback,26,20,0
...,...,...,...,...,...,...,...,...,...,...
7143,Toyota,Sienna,2016,266.0,6.0,AUTOMATIC,Passenger Minivan,25,18,0
7144,Chevrolet,HHR,2009,260.0,4.0,MANUAL,Wagon,29,21,0
7145,Hyundai,Veracruz,2012,260.0,6.0,AUTOMATIC,4dr SUV,22,17,0
7146,Mitsubishi,Expo,1993,136.0,4.0,MANUAL,2dr Hatchback,26,19,0
7147,Ford,Taurus,2015,365.0,6.0,AUTOMATIC,Sedan,25,17,0

In [55]:
y_train

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

### Question 3
Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only. 

Round the scores to 2 decimals using round(score, 2). 

Which of these variables has the lowest mutual information score?

In [56]:
cardata1.columns

Index(['make', 'model', 'year', 'engine_hp', 'engine_cylinders',
       'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg',
       'price', 'above_average'],
      dtype='object')

In [57]:
cardata1_train.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
above_average          int64
dtype: object

In [58]:
categoricalcolumns=["make", "model", 
       "transmission_type", "vehicle_style"]

In [59]:
cardata1_train[categoricalcolumns].corrwith(cardata1_train.above_average)

C:\Users\User\AppData\Local\Temp\ipykernel_14936\566500494.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cardata1_train[categoricalcolumns].corrwith(cardata1_train.above_average)

Series([], dtype: float64)

In [60]:
round(mutual_info_score(cardata1_train.make, cardata1_train.above_average),2)

0.24

In [61]:
round(mutual_info_score(cardata1_train.model, cardata1_train.above_average),2)

0.46

In [62]:
round(mutual_info_score(cardata1_train.transmission_type, cardata1_train.above_average),2)

0.02

In [63]:
round(mutual_info_score(cardata1_train.vehicle_style, cardata1_train.above_average),2)

0.08

In [65]:
del cardata1_train["above_average"]
del cardata1_val["above_average"]
del cardata1_test["above_average"]

### Question 4
Now let's train a logistic regression.

Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.

Fit the model on the training dataset.

To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [66]:
from sklearn.feature_extraction import DictVectorizer

In [67]:
dv = DictVectorizer(sparse=False)

In [68]:
train_dict = cardata1_train[categoricalcolumns + numericalcolumns].to_dict(orient="records")
X_train = dv.fit_transform(train_dict)

In [70]:
val_dict = cardata1_val[categoricalcolumns + numericalcolumns].to_dict(orient="records")
X_val = dv.transform(val_dict)

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
model = LogisticRegression(solver="liblinear", C=10, max_iter=1000, random_state=42)

In [73]:
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [74]:
y_pred = model.predict_proba(X_val)[:, 1]

In [75]:
price_decision = (y_pred >= 0.5)

In [76]:
original_acuuracy = round((y_val == price_decision).mean(),2)
original_acuuracy

0.95

### Question 5
Let's find the least useful feature using the feature elimination technique.

Train a model with all these features (using the same parameters as in Q4).

Now exclude each feature from this set and train a model without it. Record the accuracy for each model.

For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

In [82]:
original_accuracy = 0.94
columns = ["make", "model", "year", "engine_hp", "engine_cylinders",
           "transmission_type", "vehicle_style", "highway_mpg", "city_mpg"]
dv = DictVectorizer(sparse=False)

In [83]:
for column_to_exclude in columns:
    # Create a copy of the original columns list without the current column to exclude
    columns_to_use = [col for col in columns if col != column_to_exclude]

In [84]:
# Convert the data to dictionaries and transform using DictVectorizer
train_dict = cardata1_train[columns_to_use].to_dict(orient="records")
X_train = dv.fit_transform(train_dict)
val_dict = cardata1_val[columns_to_use].to_dict(orient="records")
X_val = dv.transform(val_dict)

In [85]:
# Train the logistic regression model
model = LogisticRegression(solver="liblinear", C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [86]:
# Make predictions on the validation set
y_pred = model.predict(X_val)

In [88]:
# Calculate accuracy without the current excluded feature
accuracy = round((y_val == (y_pred >= 0.5)).mean(), 2)

In [90]:
# Calculate the difference in accuracy
accuracy_difference = original_accuracy - accuracy

In [91]:
print(f"Excluded '{column_to_exclude}': Accuracy Difference: {accuracy_difference}")

Excluded 'city_mpg': Accuracy Difference: 0.009999999999999898

### Question 6
For this question, we'll see how to use a linear regression model from Scikit-Learn.

We'll need to use the original column price. Apply the logarithmic transformation to this column.

Fit the Ridge regression model on the training data with a solver 'sag'. Set the seed to 42.

This model also has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10].

Round your RMSE scores to 3 decimal digits.

Which of these alphas leads to the best RMSE on the validation set?

In [93]:
cardata1_full_train, cardata1_test = train_test_split(cardata1, test_size=0.2, random_state=42)
cardata1_train, cardata1_val = train_test_split(cardata1_full_train, test_size=0.25, random_state=42)

In [94]:
cardata1_train = cardata1_train.reset_index(drop=True)
cardata1_val = cardata1_val.reset_index(drop=True)
cardata1_test = cardata1_test.reset_index(drop=True)

In [95]:
del cardata1_train["above_average"]
del cardata1_val["above_average"]
del cardata1_test["above_average"]

In [96]:
y_train = np.log1p(cardata1_train.price.values)
y_val = np.log1p(cardata1_val.price.values)
y_test = np.log1p(cardata1_test.price.values)
from sklearn.linear_model import Ridge
dv = DictVectorizer(sparse=False)

In [97]:
train_dict = cardata1_train[categoricalcolumns + numericalcolumns].to_dict(orient="records")
X_train = dv.fit_transform(train_dict)

val_dict = cardata1_val[categoricalcolumns + numericalcolumns].to_dict(orient="records")
X_val = dv.transform(val_dict)

In [101]:
alpha=[0, 0.01, 0.1, 1, 10]
for a in alpha:
    model = Ridge(solver="sag",alpha=a)
    model.fit(X_train, y_train)
    score=round (model.score(X_train, y_train),3)
    print (a, score)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0 0.807

C:\Users\User\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.01 0.807

C:\Users\User\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

0.1 0.807

C:\Users\User\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

1 0.807
10 0.807

C:\Users\User\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(